/*Phones in portrait*/
body {
    font-family:Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    text-align: center;
}

button:focus {
    outline: none;
}

button.dash {
    color: #fdfdfd;
    font-weight: bold;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    background-color: #a3a3a3;
    padding: 5px 5px;
    cursor: pointer;
}

button.select {
    width: 100%;
    height: 90px;
    font-weight: lighter;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    background-color: #ffffff;
    padding: 5px 5px;
    cursor: pointer;
}

img {
    width: 90%;
    margin-left: 5%;
}

span {
    font-weight: bold;
}

footer {
    display: none;
}

.big-container {
    width: 100%;
}

#test-content {
    width: 90%;
    margin: 0px 0px 5% 5%;
    font-size: 14px;
    color: #333333;
}

#disclaimer {
    width: 90%;
    margin: 0px 5% 0px 4%;
    border: 1px solid #1a1a1a;
    padding: 0px 5px 0px 5px;
}

h1 {
    font-size: 25px;
    color: #fdfdfd;
    padding: 5px 0 10px 0;
    background-color: #0c0c29;
    margin: -10px -10px 10px -10px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 10px #dddddd;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
}

/*Tablets*/
@media screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait) {
    h1 {font-size: 30px;}
    h2 {font-size: 24px;}
    h3 {font-size: 22px;}
    #test-content {font-size: 20px;}
    button {font-size: 18px;}
}

/*Larger tablets*/
@media screen and (min-width: 1000px) and (min-height: 1300px) and (orientation: portrait) {
    h1 {font-size: 50px;}
    h2 {font-size: 35px;}
    h3 {font-size: 30px;}
    #test-content {font-size: 25px;}
    button {font-size: 24px;}
    button.select {height: 140px;}
}

/*Desktop*/
@media screen and (min-width: 1200px) {
    .big-container {
        width: 40%;
        margin: 0px 30% 0px 30%;
        border: 1px solid #cccccc;
        border-radius: 1px;
        box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    }

    #disclaimer {
        border-radius: 1px;
        box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    }

    h1 {
        font-size: 40px;
        color: #fdfdfd;
        padding: 5px 0 10px 0;
        background-color: #0c0c29;
        margin: 0 0 10px 0;
        box-shadow: 0px 2px 2px #dddddd, 0px 0px 10px #dddddd;
    }

    footer {
        bottom: 0;
        width: 100%;
        font-size: 12px;
        display: block;
    }
}